<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="photosSmithPixConnection"
            connectionString="Data Source=.;Initial Catalog=photosSmithPix;Integrated Security=True"
            providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <customErrors mode="Off" />
    <trust level="Full" />
  </system.web>
  <system.webServer>
        <defaultDocument>
            <files>
                <add value="home.aspx" />
            </files>
        </defaultDocument>
    <!--<modules runAllManagedModulesForAllRequests="true"/>-->
  </system.webServer>
  <appSettings>
    <!-- In order to make it as easy as possible to maintain the correlation between
        category names and category GUIDs, this section will be used to determine
        which GUID is sent to the DatabaseManager.getPhotoInfo() method to return
        the proper photos for the given GUID/Category.
      These GUIDS are current as of 10/28/2013.  They only way I see these values
        changing is if a new database is used.  If that occurs and new GUIDs are
        generated for category records, these entries will need to be edited.
  -->
    <add key="architecture" value="08E9D83E-5D43-4DD9-BF4E-7E5019E63B33" />
    <add key="closeups" value="ECED1EFE-7DA8-4681-B386-E8A7D1607EF6" />
    <add key="colorpopping" value="D54BB5F5-AC38-4DC6-BDE2-689B032FCAA4" />
    <add key="fall" value="85BB1E02-F3ED-4302-A719-D0B882C8FB73" />
    <add key="landscapes" value="29C42B0C-2E8E-4657-9017-AC68CFDFD11B" />
    <add key="pov" value="DE7C3B67-24B0-46B5-81DE-38CCBC4CA346" />
    <add key="reflections" value="8340743B-E1B8-4635-B923-D1520475E3E9" />
    <add key="seniorpics" value="66B591A1-EA04-4AE2-A163-DA68042D6E0A" />
    <add key="sunsets" value="49B1AD54-C5ED-4170-A8A1-6DE3207D584E" />
    <add key="waterfalls" value="3ADD0061-0E71-4D25-BBF8-041C64F45099" />
    <add key="waterscapes" value="9E00A999-629E-4AE9-B959-CB7D9EF5E3EF" />
    <add key="weddings" value="4D96B6DA-9838-489B-B97B-CCA6D098F4DD" />
    <add key="winter" value="1165FB4F-6AC5-4CBD-941F-88970C3DE29B" />

    <add key="LogRootPath" value="../" />
    <add key="LogFolderName" value="log" />
  </appSettings>
</configuration>